<p style="text-align: center;"><span style="font-size: 36pt; color: #110d0e;">ABOUT US</span>

    <table border="0" width="100%" cellspacing="0" cellpadding="0">
        <tr>
          <td width="100%"  valign="top" align="center" class="main_content">
          <table border="0" width="100%" cellspacing="0" cellpadding="0">
              <tr><td><div class="break_space"></div></td></tr>
              <tr><td align="center">
                   <table width="80%" cellspacing="0" cellpadding="0" border="0">
                      <tr><td class="sub_content page_content_style" align="center">
    <p style="text-align: left;"><strong>Who are we?</strong><strong><p style="text-align: left;"></p>Shawldeesha Hijab</strong>&nbsp;
        is an online store which sells various design of scarf. Shawldeesha Hijab have been founded and established since 2020. This is a new business for us as we only just started this business. We strive to be one of the top and best online hijab shop out there.<br /><br />
        <strong>What we sell?</strong><br />Shawldeesha Hijab's collection has a modest and express but elegant women&rsquo;
        s hijab. It is for those who are covering their Aurah, but still can stay fashionable and exclusive and easier to wear. Some of the collections are express hijabs, scarves and shawls that was designed exclusive, simple, modest, elegance and the most important things is its practical for all women to wear in Shawldeesha Hijab.<br /><br />
        <strong>Why choose us?</strong><br />
        <strong>Budget-friendly</strong><br />Be fashionable without burning a hole in your pocket. With low prices
        and occasional discount offered. Shawldeesha Hijab aims to provide the desire of wanting to buy a new hijab or scarf without
        burning one's pocket especially for students. <br /><br />
        <strong>High Quality Scarves Materials/Fabrics</strong>Shawldeesha Hijab only use a high-quality fabric to make sure the customers feel comfortable and confident when wearing it.<br /><br /><br />
        <strong>How to contact us?</strong><br />If you have any doubts/suggestions/comments about us, our products or our site, do not hestitate to contact us! We can be contacted through sales@shawldeesha.com.my&nbsp;. We'll get back to you within 24 hours!</p><br />
