<div class="container inner-page">
    <div class="row page-content-wrap">
        <div style="width:100%;">
            <div class="container-fluid product-catalog">
                <div class="container-fluid product-catalog" style="text-align:center;">
                    <br>
                    <h2>Shawldeesha Hijab</h2>
                    <p id="shop-title-line"></p>
                </div>
                <div class="row justify-content-center">
                    <ng-container *ngFor="let product of products">
                        <app-product-card [product]="product" (details)="showDetail($event)"></app-product-card>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>