<!-- <app-navbar></app-navbar> -->
<div class="navbar">
  <div class="container">
    <app-navbar style="width: 300%" ></app-navbar>
  </div>
</div>
<div class="main">
  <div class="containter">
    <router-outlet></router-outlet>
    <!-- <app-product-list></app-product-list> -->
  </div>
</div>
<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="#"> Shawldeesha Hijab</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->