<html>
<body>

<carousel
  [width]="1270" [lightDOM] = "true"
  [loop] ="true" [overflowCellsLimit] ="1"
  [cellsToShow] ="3" [autoplay] = "true" [height] = "450" [transitionDuration] = 200  >
<div class="carousel-cell">
  <img src = "https://s3-ap-southeast-1.amazonaws.com/avana-shop-files/2426/images/large/92549c9a7b552e21904c" >
</div>
<div class="carousel-cell">
  <img src = "https://s3-ap-southeast-1.amazonaws.com/avana-shop-files/2426/images/aaaf318034cb9fa52587"/>
</div>
<div class="carousel-cell">
  <img src= "https://s3-ap-southeast-1.amazonaws.com/avana-shop-files/2426/images/large/73e932d275628fe483ed">
</div>
<div class="carousel-cell">
  <img src= "https://s3-ap-southeast-1.amazonaws.com/avana-shop-files/2426/images/821b2ac23ee107f8a64c">
</div>
<div class="carousel-cell">
  <img src= "https://s3-ap-southeast-1.amazonaws.com/avana-shop-files/2426/images/large/4e22b8030320cdc2cae7">
</div>
<div class="carousel-cell">
  <img src= "https://s3-ap-southeast-1.amazonaws.com/avana-shop-files/2426/images/large/19163951820ee1178183">
</div>
<div class="carousel-cell">
  <img src= "https://s3-ap-southeast-1.amazonaws.com/avana-shop-files/2426/images/large/d15b0ddaf7254fdc457d">
</div>
<div class="carousel-cell">
  <img src= "https://s3-ap-southeast-1.amazonaws.com/avana-shop-files/2426/images/large/8d8dfb645692ee3e4aa0">
</div>
</carousel>
 
<div class="container inner-page">
  <div class="row page-content-wrap">
<div style="width:100%;">
  <div class="container-fluid product-catalog">
             
    <div class="container-fluid product-catalog" style="text-align:center;">
        <h2>Shawldeesha Hijab</h2>
        <p id="shop-title-line"></p>
    </div>
  <div class="row justify-content-center">
  <div class="col-md-3 catelogue-product">
          <div class="card">
              <div class="card-block">
              <div class="product-image">
              <a href="#" class="has-second-image" >
                  <img class="first-image" width="250" height="250" src="https://s3-ap-southeast-1.amazonaws.com/avana-shop-files/2426/images/large/cb397ab5ebe3ba828b2a" title="AZ Cleo Grey" alt="AZ Cleo Grey">
              </a>
              </div>
              <div class="product-details">
                  <div class="caption">
                      <div class="name">
                      <a href="#">SH Cleo Grey</a>
                      </div>
                      <div class="price">                         MYR 65.00 
                      <hr>
                  </div>
                  </div>
                  <div class="button-group">
                      <a class="btn btn-outline-secondary" [routerLink] ="['/product/17']" routerLinkActive = "router-link-active">Buy Now</a>
                  </div>
              </div>
              </div>
          </div>
      </div>
      <div class="col-md-3 catelogue-product">
        <div class="card">
            <div class="card-block">
            <div class="product-image">
            <a href="/h19" class="has-second-image" >
                <img class="first-image" width="250" height="250" src="https://s3-ap-southeast-1.amazonaws.com/avana-shop-files/2426/images/large/55b0c01e05c2105db7c0" title="AZ Cleo Lemonade" alt="AZ Cleo Lemonade">
            </a>
            </div>
            <div class="product-details">
                <div class="caption">
                    <div class="name">
                    <a href="#">SH Cleo Lemonade</a>
                    </div>
                    <div class="price">                         MYR 65.00 
                    <hr>
                </div>
                </div>
                <div class="button-group">
                    <a class="btn btn-outline-secondary" [routerLink] ="['/product/18']" routerLinkActive = "router-link-active">Buy Now</a>
                </div>
            </div>
            </div>
        </div>
    </div>
<div class="col-md-3 catelogue-product">
        <div class="card">
            <div class="card-block">
            <div class="product-image">
            <a href="/h20" class="has-second-image" >
                <img class="first-image" width="250" height="250" src="https://s3-ap-southeast-1.amazonaws.com/avana-shop-files/2426/images/large/2399a01b067f1ffe5c3c" title="AZ Cleo Scarlet" alt="AZ Cleo Scarlet">
            </a>
            </div>
            <div class="product-details">
                <div class="caption">
                    <div class="name">
                    <a href="#">SH Cleo Scarlet</a>
                    </div>
                    <div class="price">                         MYR 65.00 
                    <hr>
                </div>
                </div>
                <div class="button-group">
                    <a class="btn btn-outline-secondary" [routerLink] ="['/product/19']" routerLinkActive = "router-link-active">Buy Now</a>
                </div>
            </div>
            </div>
        </div>
    </div>
<div class="col-md-3 catelogue-product">
        <div class="card">
            <div class="card-block">
            <div class="product-image">
            <a href="/h21" class="has-second-image" >
                <img class="first-image" width="250" height="250" src="https://s3-ap-southeast-1.amazonaws.com/avana-shop-files/2426/images/large/239a4e9be18fff5d5111" title="AZ Cleo Midnight" alt="AZ Cleo Midnight">
            </a>
            </div>
            <div class="product-details">
                <div class="caption">
                    <div class="name">
                    <a href="#">SH Cleo Midnight</a>
                    </div>
                    <div class="price">                         MYR 65.00 
                    <hr>
                </div>
                </div>
                <div class="button-group">
                    <a class="btn btn-outline-secondary" [routerLink] ="['/product/20']" routerLinkActive = "router-link-active">Buy Now</a>
                </div>
            </div>
            </div>
          </div>
          </div>
          </div>
          </div>
